body {
	overflow:hidden;
}

div.paper-wrapper {
	margin-left:auto; 
	margin-right:auto;
	position: relative;
	background-image:url('../images/bg.png');
	background-repeat:no-repeat;
}

div.paper-wrapper div.tool{
	top:80px;
	position: absolute;
}

div.tool .btn {
	border:0px;
	width:75px;
	height:75px;
	cursor:pointer;
}

div.tool .bi {
	background: url("../images/bi.png") no-repeat scroll 0 0 transparent;
}

div.tool .mo {
	background: url("../images/mo.png") no-repeat scroll 0 0 transparent;
}

div.tool .zhi {
	background: url("../images/zhi.png") no-repeat scroll 0 0 transparent;
}

div.tool .yan {
	background: url("../images/yan.png") no-repeat scroll 0 0 transparent;
}

div.sufa * {
	z-index : 2;
}

div.sufa {
	margin-left:auto; 
	margin-right:auto;
	top:160px;
	position: relative;
}

div.sufa canvas.layer {
	z-index : 3;
	left : 0px;
	top : 0px;
	position: absolute;
}

div.sufa canvas.writer {
	z-index : 4;
	left : 0px;
	top : 0px;
	position: absolute;
}

div.sufa canvas.hand {
	z-index : 6;
	left : 0px;
	top : 0px;
	position: absolute;
}

div.sufa div.cookbook-layer {
	z-index : 2;
	position: absolute;
}

div.sufa .hand-image-wrapper {
	z-index : 5;
	left : 0px;
	top : 0px;
	position: absolute;
}

/* tool-panel */
div.tool-panel .btn {
	border:0px;
	width:185px;
	height:725px;
	cursor:pointer;
}

div.tool-panel .SmallBrush {
	background: url("../images/Small.png") no-repeat scroll 0 0 transparent;
}

div.tool-panel .MediumBrush {
	background: url("../images/Medium.png") no-repeat scroll 0 0 transparent;
}

div.tool-panel .LargeBrush {
	background: url("../images/Large.png") no-repeat scroll 0 0 transparent;
}

/* tool-panel */
div.op-panel .btn {
	border:0px;
	width:40px;
	height:40px;
	cursor:pointer;
}

div.op-panel .opacity-25 {
	background: url("../images/opacity-25.png") no-repeat scroll 0 0 transparent;
}

div.op-panel .opacity-50 {
	background: url("../images/opacity-50.png") no-repeat scroll 0 0 transparent;
}

div.op-panel .opacity-75 {
	background: url("../images/opacity-75.png") no-repeat scroll 0 0 transparent;
}

div.op-panel .opacity-100 {
	background: url("../images/opacity-100.png") no-repeat scroll 0 0 transparent;
}

/* color-panel */
.color-panel {
	position: relative;
}

.color-panel .bottom{
	width:162px;
	height:64px;
	margin: 0px auto;
}

.confirmButton {
	border:0;
	width:162px;
	height:64px;
	background: url("../images/confirm.png") no-repeat scroll 0 0 transparent;
}