<a id="goTop" class="scroll-to-top" style="display:none;">Top</a>
<a id="bshare" style="display:none;" class="bshareDiv" href="http://www.bshare.cn/share">分享按钮</a><script language="javascript" type="text/javascript" src="http://static.bshare.cn/b/button.js#uuid=299e2562-c815-48fc-b54a-098670ec8967&amp;style=3&amp;fs=4&amp;textcolor=#ffffff&amp;bgcolor=#FF9900&amp;bp=qqxiaoyou,qzone,qqmb,qqshuqian,sinaminiblog,sohuminiblog,neteasemb,kaixin001,renren,douban,taojianghu,ifengmb,tianya,feixin,itieba,clipboard,hexunmb&amp;text=分享到..."></script>
<script type="text/javascript">
	seajs.use(['third/jquery.gototop.js'], function(goTop) {
		var goTop = new goTop('#goTop' ,{
			pageWidth:960,
			pageWGap:30,
			pageHGap:50,
			startline:20,
			duration:200,
			showBtntime:100
		});
	});
</script>